$color-font-default: #D4D4D4;
$size-label-default: 10vw;

html,
body {
    margin: 0;
    padding: 0
}

* {
    font-size: 2vw;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

div.window {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #424443;
    opacity: 0;
    visibility: hidden;
    transition: 300ms;

    &.open {
        opacity: 1;
        visibility: visible
    }

    &.cadastro {
        .perfil {
            .preview {
                padding: 1vw $size-label-default;
                display: flex;
                color: $color-font-default;

                .thumb {
                    flex: none;
                    width: 10vw;
                    height: 10vw;
                    background: {
                        image: url(https://scontent.ffln5-1.fna.fbcdn.net/v/t1.0-9/29176824_1976892279028007_4312322013302620160_n.jpg?oh=aba7b072417a25f4471efe52522530c6&oe=5B35E7F7);
                        size: cover;
                    }
                }

                .display {
                    padding: 1vw;
                }
            }
        }

        .component-phone {
            color: red    
        }

        * {
            flex-grow: 1
        }
    
        .item {
            color: $color-font-default;
            font-weight: 300;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1vw
        }

        label {
            text-align: right;
            margin-right: 1vw;
            flex: none;
            width: $size-label-default;
        }

        input {
            flex-grow: 10
        }

        input,
        button {
            height: 4vw;
            border: 0 none;
            padding: 1vw
        }
    }
}